.innerBox {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 5vh;
  //가운데 맞춤
  align-items: center;
}

.time {
  font-size: 10px;
  font-weight: lighter;
}

.input {
  padding: 8px 12px;
  font-family: "Pretendard";
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 14px;
  width: 95%;
  font-weight: bold;
  &:placeholder-shown {
    color: grey;
  }
}


.inputLetter {
  height: 45vh; // 원하는 높이로 설정
  font-weight: normal;
  font-size: 10px;
   margin-bottom: 3vh;
}

.btn{
  display: flex;
  background-color: #46B1E1;
  color: white;
  width: 80%;
  height: 7vh;
  border-radius: 10px;
  margin-bottom: 2vh;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  transition: background-color 0.3s, font-size 0.3s; /* 부드러운 전환 효과 추가 */
}

.btn:hover{
  background-color: #57bfe4;
  font-size: 15.3px; 
  cursor: pointer;
}
