.navbar {
  background-color: black;
  display: flex;
  justify-content: flex-start;
  height: 10vh;
  
  ul {
    display: flex;
    gap: 5vw;
    margin: 4vh;
  }
  a,
  h1 {
    color: white;
    margin: 0;
    text-decoration: none;
    text-decoration-line: none;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
  }
  .active {
    color: #46b1e1;
  }
}

.myPageHeader {
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: #007bff; // 호버 시 파란색으로 변경
  }
}

.myPageMenu {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
  margin-top: 5px;
  background-color: #f8f9fa; // 밝은 회색 배경
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  p {
    font-size: 0.9rem; // 작은 텍스트 크기
    color: #333;
    cursor: pointer;
    margin: 5px 0;

    &:hover {
      text-decoration: underline;
    }
  }
}



