.container {
  padding: 8px 12px;
  font-family: "Pretendard";
  margin: 8px 0;
  font-size: 18px;
  width: 95%;
  height: 80%;
  scrollbar-width: thin;
  font-weight: 0;
  overflow-y: auto; /* 수직 스크롤 */
  white-space: pre-wrap;  
  line-height: 1.2;
}

.feedbackStyle {
  color:#46B1E1;
}
.title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3vh;
  color:#46B1E1;
}