.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  margin-top: 10vh;
}

.maintitle {
  font-size: 60px;
  font-weight: bold;
}

.subtitle {
  margin-top: 5vh;
  font-size: 20px;
  font-weight: 500;
}

.selectcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // 1fr을 사용하여 각 항목이 동일한 크기
  gap: 10px;
  margin-top: 5vh;
}
.categoryItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 10vw;
  border-radius: 30px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover,
  &.selected {
    background-color: #46b1e1;
  }
}
.selected {
  background-color: #46b1e1; // 선택 시 배경색 변경
}

.btncontainer {
  display: flex;
  margin-top: 20vh;
  gap: 30vw;
}
.button {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 5vh;
  width: 10vw;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: black; 
  color: #fff;
}

/* 이 부분이 수정되었습니다. */
.button.active {
  background-color: #46b1e1; /* 활성화 상태 */
}

.buttonDisabled {
  pointer-events: none;
  opacity: 0.5; /* 선택적으로 비활성화된 모양을 표시 */
}

