.container{
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainTitle{
  font-size: 20px;
  color: #46B1E1;
  text-align: left;
}
.subTitleContainer{
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column; 
  text-align: left;

}

.subTitle {
  font-size: 15px;
  font-weight: 300;
  display: block; 
  overflow: hidden;
  text-overflow: ellipsis; // 넘치는 텍스트를 ...으로 표시
  cursor: pointer;
}

.subTitleWithIcon {
  display: flex; /* Flexbox 레이아웃 사용 */
  justify-content: space-between; /* 양 끝에 요소 배치 */
  align-items: center; /* 세로 방향에서 중앙 정렬 */
  width: 100%; /* 부모 컨테이너의 전체 너비 사용 */
}

.subTitleWithIcon .trashIcon {
  cursor: pointer;
}

.addBtnContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-color: #F4FCFF;
  border-radius: 10%;
  height: 7vh;
  width: 100%;
  cursor: pointer;
}